body {
    font-family: sans-serif;
    margin-top: 75px;
    color:orange;
}
.center text-big bold{
    color:red;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}
.container{
                max-width:800px;
                margin:0 auto;
                color:red;
                font-family:Times New Roman;
                Padding-top: 10px;
                Padding-right: 50px;
                Padding-left: 2px;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

