body {
    font-family: sans-serif;
    margin:0 auto;
    margin-top: 75px;
    color:blue;
    text-align: center
}

.center {
    text-align: center;
}

.jio {
    font-size: 300%;
    text-align: center;
}
.container{
                max-width:800px;
                color:red;
                font-family:Times New Roman;
                Padding-top: 10px;
                Padding-right: 50px;
                Padding-left: 2px;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

